*{
    margin: 0;
    padding: 0 10px 0 10px;
    box-sizing: border-box;
    justify-content: center;
    align-items: center;
}

body{
    min-height: 100vh;
    width: 100%;
    background-color: azure;
}

.container, .quiz-container, .result-container {
    margin: 15vh 20vh 20vh 50vh;
    display: block;
    justify-content: space-around;
    align-items: center;
    text-align: center;
    border-radius: 0.5rem;
    box-shadow: 0 0 30px rgb(0, 0, 0, 0.2);
    border: 2px solid rgb(0, 0, 0, 0.2);
    width: 650px;
    background-color: white;
    min-height: 400px;
    overflow: hidden;
}

/********** home-page********/
.user-details{
    padding: 10px 10px 10px 10px;
}

img{
    height: 5rem;
}

h1 {
    color: rgb(0, 199, 255);
    font-weight: bold;
    padding-bottom: 5px;
}
h3 {
    color: grey;
    font-size: 1rem;
}

 /******* category  *********/

#name{
    padding: 2%;
    height: 2.1rem;
    width: 24rem;
    font-size: 10px;
    border-radius: 5px;
    color: rgb(159, 159, 159);
    border-color: rgb(159, 159, 159);
    text-align: rgb(159, 159, 159);
}

#submit {
    margin-left: 10px;
    width: 80px;
    border-color: rgb(0, 170, 255);
    background-color: rgb(156, 221, 247);
    border-radius: 5px;
    color: grey;

}

button{
    margin: 20px 20px 20px 15px;
    padding: 10px 20px;
    width: calc(40% - 10px);
    border-color: rgb(0, 170, 255);
    background-color: rgb(134, 215, 247);
    border-radius: 10px;
    font-size: 16px;
    color: grey;

}

.category{
    flex-wrap: wrap;
    margin:10px 0 20px 0; 
    gap: 20px 20px;
}

/************** Quizpage  ************/
.title {
    padding-top: 20px;
}

.header {
    display: flex;
    justify-content: space-between;
}
.question-timer {
    margin: 20px 0 0 20px;
    padding: 10px 0px 10px 0px;
    border: 3px solid rgb(95, 199, 240);
    border-radius: 50%;
    width: 80px;
}

.score {
    margin: 20px 0 0 20px;
    padding: 10px 0px 10px 0px;
    border: 3px solid rgb(134, 215, 247);
    border-radius: 50%;
    width: 80px;

}

.question-count {
    margin-bottom: -25px;
    width: 50px;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    font-size: 16px;
    font-weight: bold;
    border-radius: 50%; 
    background-color: #fff;
    border: 3px solid rgb(0, 170, 255);
    left: 50%;
    transform: translateX(-50%);
}

.question-box {
    margin-top: 0;
    padding: 25px 10px 10px 20px;
    border: 2px solid #ccc;      
    font-size: 16px;            
    background-color: #f9f9f9;   
    border-radius: 8px;          
    max-width: 600px;                     
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); 
}

#questionText {
    font-size: 15px;
    color: black;
    display: block;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    unicode-bidi: isolate;
}

.option {
    margin: 20px 20px 20px 15px;
    padding: 10px 20px;
    width: calc(40% - 10px);
    border-color: rgb(0, 170, 255);
    background-color: white;
    border-radius: 20px;
    color: black;
    border: 2px solid #ccc;
    cursor: pointer;
    transition: background-color 0.3s ease;
    
}

.option:hover {
    color: white;
    background-color: #15c9fb;
}

.footer{
    padding-left: 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;

}

#next-btn, #showResult, #startAgain, #goToHome {
    /* display: flex; */
    justify-content: center;
    align-items: center;
    background-color: #15c9fb;
    color: #fff;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    font-size: 16px;
    transition: background-color 0.3s ease;
    position: relative;
    top: -12px; 
    left: 20%;
    transform: translateX(-50%);
}

#next-btn:hover, #showResult:hover {
    background-color: #0b72cc;
}

/*************** Resultpage ***********/
.quiz-result{
    padding: 20px;
}
 
.resultBox{
    display: grid;
    margin-bottom: 20px;
    grid-row-gap: 15px;
    font-size: 20px;
 }


.resultBox span {
    font-weight: 600;
    text-align: left;
 } 

